<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% if flash[:message] %>
	<p><%= flash[:message] %></p>
<% end %>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>
<%= render 'shared/login' %>
<%= link_to 'Go Back', :back %>
<%= render 'shared/register' %>
