<% provide(:title, "ViDence: Video List") %>
<% if flash[:message] %>
	<p class="alert alert-success"><%= flash[:message] %></p>
<% end %>
<div class="row">
	<div class="col-md-3 col-sm-12 col-md-push-9 side_bar">
		<h4><span class="glyphicon glyphicon-list-alt"></span>Video Requests</h4>
		<% Request.all.order("created_at DESC").limit(6).each do |request| %>
			<div class="col-md-12 col-xs-6 side_bar_request">
			<h5><%= request.title %></h5>
			<p> <%= request.location %></p>
			<p class="pull-right"><%= request.created_at.strftime("%D") %></p>
			<p class="pull-left"><span class="glyphicon glyphicon-info-sign"></span><%= link_to "More", request %></p>
			</div>
		<% end %>

		<div class="col-md-12 inner_box">

		</div>
		<p class="all_request">See All <span class="badge"><%= Request.all.count %></span> <%= link_to 'Requests', requests_path %></p>
	</div>
	<div class="video_list_box col-md-8 col-md-pull-2">
		<!-- Search Form -->

		<div class="search_form">
			<%= form_tag videos_path, method: :get, role: "form" do %>
				<div class="form-group">
					<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Video Name" %>
					<%= submit_tag "Search", name: nil, class: "btn-default" %>
				</div>
			<% end %>
		</div>

		<!-- Search Form End -->

		<% num = 0 %>
		<% @videos.each do |video| %>
		<div class="row video_list">
			<div class="col-md-12">
				<h3><%= link_to video.title, video %></h3>

				<% if video.link.empty? == false %>
					<div class="videowrapper">
					<%= raw(youtube_embed(video.link)) %>
					</div>
				<% end %>

				<% if video.video_url !=nil %>
					<div class="videowrapper">
					<video width="560" height="315" controls>
					<source src ="<%= video.video_url %>" type="video/mp4">
					Your Browser Does Not Suppoert Video Tag
					</video>
					</div>
				<% end %>
				<div class="info_bar">
					<table class="info_bar_table table table-condensed">
						<tr>
							<td>
								<p class="index_username"><% if signed_in? %>
								<%= link_to User.find(video.user_id).username, "/users/#{video.user_id}" %>
								<% else %>
								<%= User.find(video.user_id).username %>
								<% end %>
								</p>
							</td>
							<td>
								<p>On <em><%= video.created_at.strftime("%D") %></em></p>
							</td>
							<td class="video_index_comment">
								<%= link_to 'Comments', video %>
								<% comment_number = Comment.where(association_id: video.id).count %>
								<% if comment_number > 0 %>
								   <span class="badge"><%= comment_number %></span>
								<% end %>
							</td>
							<td>
								<button type="button" data-switch="<%= num %>" class="video_index_comment_button btn btn-default btn-xs">
								  <span class="glyphicon glyphicon-chevron-down"></span>
								</button>
							</td>
						</tr>
					</table>
				</div>
				<div class="video_index_description  com<%= num %>">
					<p class="footage_loc">Footage Location: <%= video.location %></p>
					<p><em><%= video.description %></em></p>
				</div>
			</div>	
		</div>
		<hr>	
		<% num += 1 %>
<% end %>
	</div>
</div>