<% if flash[:message] %>
	<p><%= flash[:message] %></p>
<% end %>

<h3><%= link_to 'Add New Video', new_video_path %></h3>



<h3>Video List</h3>
<% @videos.each do |video| %>
	<div class="col-md-3">
		<h6><%= video.title %></h6>

		<% if video.link.empty? == false %>
			<%= raw(youtube_embed(video.link)) %>
		<% end %>

		<% if video.video_url !=nil %>
			<video width="515" height="290" controls>
			<source src ="<%= video.video_url %>" type="video/mp4">
			Your Browser Does Not Suppoert Video Tag
			</video>
		<% end %>

		<p><%= video.description %></p>

		<p>Submitted by 
			<% if signed_in? %>
			<%= link_to User.find(video.user_id).username, "/users/#{video.user_id}" %></p>
			<% else %>
			<%= User.find(video.user_id).username %>
			<% end %>
		<p>Video Location: <%= video.location %></p>
	</div>
	<p><%= link_to 'Comments', video %></p>
<% end %>