<h1>Videos#show</h1>
<p>Find me in app/views/videos/show.html.erb</p>
<% video = Video.find(params[:id]) %>


<%= render 'shared/video_embed', :video => Video.find(params[:id]) %>

Submitted by 
<% if signed_in? %>
	<%= link_to User.find(video.user_id).username, "/users/#{video.user_id}" %></p>
<% else %>
	<%= User.find(video.user_id).username %>
<% end %>

<input type='hidden' class= 'vid_loc' value='<%= video.location%>'>
<div class='vid_map'>
</div>

<%= render 'shared/comments', :comment => Video.find(params[:id]).comments.new, :video => Video.find(params[:id]) %>