	<div>
		<% if signed_in? %>
			<%= simple_form_for ([video, comment]) do |f| %>
				<%= f.input :name, as: :hidden, input_html:{value: current_user.username} %>
				<%= f.input :comment %>
				<%= f.input :user_id, as: :hidden, input_html: {value:	session[:user_id]} %>
				<%= f.button :submit %>
			<% end %>
		<% else %>
			<%=link_to 'Sign In to Comment', new_user_path %>
		<% end %>

	<p>Comments</p>

		<% Comment.where(association_id: video.id).each do |comment| %>

		<div class="col-md-3">
			<h6>
				<%= comment.name %>
			</h6>
			<p><%= comment.comment %></p>
			<% if signed_in? %>
				<% if current_user.id == comment.user_id %>
				<p><%= link_to 'Delete', "/videos/#{params[:video_id]}/comments/#{comment.id}", method: :delete, data: { confirm: 'Are you sure?' } %></p>
				<% end %>
			<% end %>

		</div>
		<% end %>
	</div>
