<% Video.where(user_id: User.find(params[:id])).each do |video| %>
	<div class="col-md-3">
		<h6><%= video.title %></h6>
		<p><%= video.location %></p>
		<% if video.link.empty? == false %>
			<%= raw(youtube_embed(video.link)) %>
		<% end %>

		<% if video.video_url !=nil %>
			<video width="515" height="290" controls>
			<source src ="<%= video.video_url %>" type="video/mp4">
			Your Browser Does Not Suppoert Video Tag
			</video>
		<% end %>
		<p><%= video.description %></p>
		<p><%= link_to 'Comments', video %></p>
		<input type='hidden' class= 'vid_loc' value='<%= video.location%>'>
		<div class='vid_map'>
		</div>
	</div>
<% end %>