<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<h4 id="title" class="pull-left"><strong><a href="/videos/welcome">ViDence </a></strong>Your <span class="glyphicon glyphicon-cloud-upload"></span> Witness</h4>
		<button id="add_vid" type="button" class="btn btn-default pull-right"><%= link_to 'Add Video', new_video_path %></button>
		<a href="/videos"><p class="pull-right glyphicon glyphicon-film"></p></a>

		<button id="menu" class = "navbar-toggle" data-toggle = "collapse" data-target =".navHeaderCollapse">
			<span class = "glyphicon glyphicon-th-list"></span>
		</button>
		<div class= "collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				<li class="pull-right"><%= link_to 'Log out', session_path(current_user), method: "delete" %></li>
				<li class="pull-right"><%= link_to 'My Profile', "/users/#{session[:user_id]}/", class: "add_vid" %></li>

				<% if current_user.user_level == 9 %>
					<li class="pull-right"><%= link_to 'Admin Page', users_path %></li>
				<% end %>

			<% else %>

				<li class="pull-right"><%= link_to 'Sign In', new_user_path %></li>	

			<% end %>
			</ul>
		</div>
	</div>
</nav>
<div id="top_space">
</div>
<div class="container">
<%= yield %>
</div>

</body>
</html>
